body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Custom-H_Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	text-align:center;
}
span.CharOverride-1 {
	font-family:Arial, sans-serif;
	font-size:22px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-2 {
	font-family:"Grantha Sangam MN", sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-family:"Grantha Sangam MN", sans-serif;
	font-size:15px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	height:800px;
	width:1200px;
}
#_idContainer001, #_idContainer004 {
	display:inline-block;
	height:565px;
	width:565px;
}
#_idAudio000, #_idAudio001, #_idVideo000, #_idVideo001, #_idVideo002, #_idVideo003, #_idVideo004, #_idVideo005, #_idVideo006, #_idVideo007, #_idVideo008, #_idVideo009 {
	height:100.00%;
	width:100.00%;
}
#_idContainer003 {
	background-image:url(../image/1.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:60px;
	position:relative;
	text-align:left;
	width:60px;
}
#_idContainer006 {
	background-image:url(../image/2.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:60px;
	position:relative;
	text-align:left;
	width:60px;
}
#_idContainer007 {
	display:inline-block;
	height:800px;
	width:566px;
}
#_idContainer008 {
	display:inline-block;
	height:709px;
	width:1062px;
}
#_idContainer009 {
	background-image:url(../image/4.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:598px;
	position:relative;
	text-align:left;
	width:1063px;
}
#_idContainer011 {
	display:inline-block;
	height:800px;
	width:577px;
}
#_idContainer012 {
	display:inline-block;
	height:383px;
	width:576px;
}
#_idContainer013 {
	display:inline-block;
	height:385px;
	width:576px;
}
#_idContainer014 {
	display:inline-block;
	height:577px;
	width:577px;
}
#_idContainer015 {
	display:inline-block;
	height:409px;
	width:578px;
}
#_idContainer016 {
	display:inline-block;
	height:773px;
	width:580px;
}
#_idContainer017 {
	display:inline-block;
	height:528px;
	width:602px;
}
#_idContainer019 {
	background-image:url(../image/6.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:597px;
	position:relative;
	text-align:left;
	width:1061px;
}
#_idContainer020 {
	background-image:url(../image/8.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:597px;
	position:relative;
	text-align:left;
	width:1062px;
}
#_idContainer022 {
	background-image:url(../image/10.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:596px;
	position:relative;
	text-align:left;
	width:1059px;
}
#_idContainer024 {
	display:inline-block;
	height:596px;
	width:1060px;
}
#_idContainer025 {
	display:inline-block;
	height:598px;
	width:1063px;
}
#_idContainer027 {
	background-image:url(../image/12.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:596px;
	position:relative;
	text-align:left;
	width:1060px;
}
#_idContainer029 {
	display:inline-block;
	height:750px;
	width:1060px;
}
#_idContainer030 {
	background-image:url(../image/14.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:596px;
	position:relative;
	text-align:left;
	width:1060px;
}
#_idContainer032 {
	background-image:url(../image/16.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:597px;
	position:relative;
	text-align:left;
	width:1061px;
}
#_idContainer033 {
	background-image:url(../image/18.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:597px;
	position:relative;
	text-align:left;
	width:1062px;
}
#_idContainer034 {
	background-image:url(../image/20.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:597px;
	position:relative;
	text-align:left;
	width:1062px;
}
#_idContainer036 {
	background-image:url(../image/22.png);
	background-repeat:no-repeat;
	background-size:contain;
	display:inline-block;
	height:597px;
	position:relative;
	text-align:left;
	width:1061px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectAttribute-2 {
	height:60px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:60px;
}
div._idGenObjectAttribute-3 {
	height:598px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1063px;
}
div._idGenObjectAttribute-4 {
	height:597px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1061px;
}
div._idGenObjectAttribute-5 {
	height:597px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1062px;
}
div._idGenObjectAttribute-6 {
	height:596px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1059px;
}
div._idGenObjectAttribute-7 {
	height:596px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:1060px;
}
div._idGenObjectLayout-1 {
	margin:45px auto 10px auto;
	text-align:center;
}
